.fg-color-black { color: black; }
.fg-color-white { color: white; }
.fg-color-blue { color: #7070ff; }
.fg-color-red { color: #ff7070; }
.fg-color-green { color: green; }
.main-title{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color:pink
}
