.assignment-detail.list-group-assignment {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 20px;
  }
  
  .assignment-detail.list-group-item-assignment {
    display: flex;
    
    padding: 15px 20px;
    border-bottom: 1px solid #e0e0e0;
    
    font-weight: 600;
    color: #333;
    transition: background-color 0.3s;
  }
  
  .assignment-detail.list-group-item-assignment:hover {
    background-color: #f5f5f5;
  }
  
.list-group-item-assignment:last-child {
    border-bottom: none;
  }
  
 .list-group-item-assignment .check-icon {
    color: green;
    font-size: 20px;
    margin-right: 10px;
  }
  
.list-group-item-assignment .assignment-details {
    display: flex;
    flex-direction: column;
  }
  
.list-group-item-assignment .assignment-details .subtitle {
    font-size: 14px;
    color: #888;
    font-weight: 400;
  }
  
.list-group-item-assignment .menu-icon {
    font-size: 20px;
    color: #888;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .list-group-item-assignment {
    display: flex;
   /* This will align items to the right */
}
.list-group-item-assignment-buttons  {
  display: flex;
 
 justify-content: flex-end;
}
     /* This ensures vertical alignment is centered */
  
  
  .list-group-item-assignment .assignment-details {
    flex-grow: 1; /* This allows the assignment details to take up available space */
    margin-right: 10px; /* Some spacing before the delete button */
  }
  
  